<h3>Passenger Current Status Enquiry</h3>
<br><br>&nbsp;&nbsp;

20-Jul-2019 [15:51:44 IST]
    
 <body>
  <h4>Enter the PNR for your booking below to get the current status. You will find it on the top left corner of the ticket.
</h4><br><br>
  
  <div class="form">&nbsp;&nbsp;&nbsp;
 

    Enter PNR Number:&nbsp;&nbsp;<input type="text" class="jsp"  name="train" placeholder=" PNR Number"/>&nbsp;&nbsp;
    
    

       <button type="button" class="btn btn-primary">Submit</button>

</div>
</body>

