<body>
  
  

  <div class="form">
    <h2>IRCTC Hotels</h2>
      Destination:&nbsp;&nbsp;<input type="text" class="jsp"  name="train" placeholder="Destination"/><br><br>
     CheckIn: &nbsp;&nbsp;<input type="date" class="jsp" name="date" placeholder="CheckIn Date"/><br><br>
    CheckOut :&nbsp;&nbsp;<input type="date" class="jsp" name="date" placeholder="CheckIn Out"/><br><br>
     <label>Guest</label>
       <select   id="drop">
            <option selected>Please Select</option>
            <option value="RoomGuest">RoomGuest</option>
            <option value=" Adult">Adult</option>
            <option value="children">children</option>
            <option value="Room">Room</option>
          </select><br><br>
  
          <button type="button" class="btn btn-primary">Submit</button>
  
  </div>




  </body>


  